BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
NamespaceIndentation: None
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
InsertBraces: true
BreakBeforeBinaryOperators: All
SeparateDefinitionBlocks: Always
SortIncludes: Never
LineEnding: CRLF
